

.product{
    margin-top: 8rem ;
    margin-bottom: 10rem;
    overflow: hidden;
    

    .product-carousel{  
        text-align: center;
        width: 70%;
        
        margin: auto;
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

            &::-webkit-scrollbar{
                display: none;
            }

        .carousel-image{
            display: flex;
            flex-shrink: 0;
            scroll-snap-align: start;
            transform: scale(1);
            transform-origin: center center;
            transition: transform .5s;
            max-width: 100%;
            
            img{
                border-radius: 0.7rem;
            }

        }      
    }

    .carousel-buttons{
        padding-top: 2rem;
        margin: auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
        
        a{   
            
            display: inline-flex;
            width: 2rem;
            height: 2rem;
            background: black;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            margin: 0 0 0.5rem 0;
            position: relative;

            &:hover{
                background: white;
            }
         }

    }

    .product-information{
        width: 80%;
        margin-right: auto;
        
        div{
            padding-bottom: 1rem;
        }

        .product-title{
            h2{
                color: black;
                font-weight: 600;
                font-size:3.5rem;
            }
        }

        .product-price{
            h3{
                font-weight: 600;
                font-size: 2rem
            }
        }

        .product-description{
            p{
                font-size: 1.5rem
            }
        }

        .product-amount{
            .amount{
                
                label{
                    font-weight: 600;
                    font-size: 1.3rem
                }
                input{
                    text-align: center;
                    width: 5%;
                    padding: 0.2rem 0.3rem ;
                    border-radius:8px;
        
                }
            }
        }

        .product-button{
            @include featuredButton(1rem);
        }
    }
}