header{
    background: black;

    .header-mobile-menu{
        background-color: hsl(0, 0%, 0%);
        height: 100vh;
        left: 0;
        position: fixed;
        top: -100vh;
        transition: top 0.5s;
        width: 100%;

        &.active{
            top: 0;
            transition: top 0.5s;
        }
    }

    .header-main{
        background: black;
        padding: 1%;
        width: 90%;
        margin: 0rem 1rem 0rem 1rem;

        

        .header-main-logo{
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-top: 1.3rem;

            .header-hamburguer{

                position: relative;
  
                .hamburger{
                    width: 50px;
                    height: 5px;
                    background-color: #ecf0f1;
                    display: block;
                    margin: 8px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;

                    :hover{
                        cursor: pointer;
                    }
                    
                    

                        span{
                            width: 50px;
                            height: 5px;
                            background-color: #ecf0f1;
                            display: block;
                            margin: 8px auto;
                            -webkit-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                            
                            :nth-child(3){
                                opacity: 0;
                            }
                            
                            :nth-child(1){
                                -webkit-transform: translateY(13px) rotate(45deg);
                                -ms-transform: translateY(13px) rotate(45deg);
                                -o-transform: translateY(13px) rotate(45deg);
                                transform: translateY(13px) rotate(45deg);
                            }
                            
                            :nth-child(3){
                                -webkit-transform: translateY(-13px) rotate(-45deg);
                                -ms-transform: translateY(-13px) rotate(-45deg);
                                -o-transform: translateY(-13px) rotate(-45deg);
                                transform: translateY(-13px) rotate(-45deg);
                            }
                        }
                    
                    
                }   
            }

            .header-main-logo-title h1 svg{
                width: 2.3rem;
            }
        }

        .header-main-menu{
            display: flex;
            justify-content: space-between;

            
            
            .header-main-menu-element button{
                background: black;
                margin-left: 3rem;
                margin-top: 1rem;
                cursor: pointer;
                color: white;
                border: none;
                padding: 1rem;
                font-weight: 600;
            }

            .header-main-menu-element-active button{
                background: #2A70D5;
                border-radius: 0.7rem;
                border: 1px solid black;
                color: white;
                transition: 0.2s all;
                margin-left: 3rem;
                margin-top: 1rem;
                padding: 1rem;
                font-weight: 600;

                &:hover{
                    background: red;
                }
            }
        }
    }
    
}


